<h2>Welcome, <%= @user.username %></h2>

<h3>All Auctions List</h3>
<% @auctions.each do |auction| %>
    <ul>
      <li><a href="/bids/<%= auction.id %>"><%= auction.name %></a></form>
      </li>
    </ul>
    <% end %>
    <br>

    <p><a href="/auctions/new"><button>Create New</button></a>
      <a href="/auctions"><button>Back to My Auctions</button></a>
    </p>
    <br>

<p><a href="/logout"><button>Log Out</button></a></p>