<h2>Welcome, <%= @user.username %></h2>

<h3>Auctions List</h3>
<% @my_auctions.each do |auction| %>
    <ul>
      <li><a href="/auctions/<%= auction.id %>"><%= auction.name %></a><form action="/auctions/<%= auction.id %>/edit"><input type="submit" value="Edit"/></form>
      </li>
    </ul>
    <% end %>
    <br>

    <a href="/auctions/new">Create New</a>
    <br>

<p><a href="/logout"><button>Log Out</button></a></p>