<form method="POST" action="/auctions/<%= @auction.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Content:</label><br>
  
<form method="POST" action="/auctions/<%= @auction.id %>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Auction">
</form>
</form>