<form method="POST" action="/auctions/<%= @auction.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:<%= @auction.name %></label>
  <br>
  <label>Edit Name: </label>
  <input type="text" name="name" id="name" value="<%= @auction.name %>"><br>
  <input type="submit" value="submit">
  

</form>
