<h2 align="center">Welcome, <%= @user.username %></h2>

<h3>My Created Auctions List</h3>
<% @auctions.each do |auction| %>
    <% if auction.user_id == @user.id %>
    <ul>
      <li><a href="/auctions/<%= auction.id %>"><%= auction.name %></a><form action="/auctions/<%= auction.id %>/edit"><input type="submit" value="Edit"/></form>
      </li>
    </ul> 
    <% else %>
    <% flash[:Create_Auctions] = "Create Your Own Auctions!" %>
    <% end %> 
    <% end %>
    <br>
    <a href ='/bids'><button>View All Auctions</button></a>
    <a href="/auctions/new"><button>Create New</button></a>
    <br>

<p><a href="/logout"><button>Log Out</button></a></p>