<form action='/auctions' method="post">
    <p>Auction Name:
    <input type="text" name="name"></p>
    <p>Auction Description: 
    <input type="text" name="description"></p>
    <p>Auction Price: 
    <input type="number" name="current_bid"></p>
    <p>Image URL:
    <input type='text' name='image_url'</p>
    <p><input type="submit" name="submit" id="submit"></p>
    <p><a href='/bids'><button>Back to All Auctions</button></a></p>

  </form>
