<h2>Welcome, <%= @user.username %></h2>

<h3>Auction Name: <%= @auction.name %></h3>
<p>Descrption: <%= @auction.description %><p>
<p>Current Bid: <%= @auction.current_bid %></p>

<p><a href="/logout"><button>Log Out</button></a></p>