<form action='/signup' method='POST'>
  <h3><label for='username'>Username:</label>
  <input type='text' name='username' id='username' placeholder="Your Name Here"></h3>
  <h3><label for='email'>Email:</label>
  <input type='text' name='email' id='email' placeholder="user@user.com"></h3>
  <h3><label for='username'>Password:</label>
  <input type='text' name='password' id='password' placeholder="Enter Secure Password"></h3>
  <input type='submit' value='Create Account'>
</form>